

<ngb-carousel *ngIf="images" class="carousel">
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="First slide" class="img-auto-fit">
      </div>
      <div class="carousel-caption">
        <h3>Mebel 1</h3>
        <p>Jakiś tam opis mebla</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[1]" alt="Second slide" class="img-auto-fit">
      </div>
      <div class="carousel-caption">
        <h3>Mebel 2</h3>
        <p>Opis 2</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[2]" alt="Third slide" class="img-auto-fit">
      </div>
      <div class="carousel-caption">
        <h3>Mebel 3</h3>
        <p>Opis mebla 3</p>
      </div>
    </ng-template>
  </ngb-carousel>