
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    margin-top: 1rem;
    height: 3rem;
    background-color: var(--dark);
    color: var(--white);
    list-style-type: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 90%;
}

.nav-list-small {
    display: none;
}

.nav-list-large {
    display: flex;
}

div.background {
    position: fixed;
    background-color: var(--dark);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: -20;
    opacity: .6;
}

@media screen and (max-width: 768px) {

    div.background {
        width: 100vw;
        height: 100vh;
    }

    .sidebar {
        clip-path: circle(0px at 0 0);
        -webkit-clip-path: circle(0px at 0 0);
        transition: 500ms ease-in;
        z-index: -10;
    }

    .sidebar.open {
        clip-path: circle(1500px at 0 0);
        -webkit-clip-path: circle(1500px at 0 0);
        z-index: 1000;
    }

    .nav-list-large {
        position: fixed;
        left: 0;
        top: 0;
        display: flex;
        height: 100vh;
        width: min(15rem, 80vw);
        flex-direction: column;
        background-color: var(--white);
        color: var(--dark);
    }

    .nav-list-small {
        display: flex;
        justify-content: space-between;
    }

    .nav-list-small li {
        width: 10%;
        text-align: center;
    }

    .nav-list-small a {
        display: block;
    }    

    .nav-list-large li {
        margin-left: 5vw;
    }
}