<div class="flex mt-3">
    <img src="./assets/logo.png" alt="Stalowy Dąb" style="height: 15rem;">
</div>


<div 
    class="background sidebar"
    [class.open]="showSideNavbar">
</div>

<div class="flex navbar">
    <ul 
    class="nav-list nav-list-large sidebar" 
    [class.open] = "showSideNavbar">
        <li> 
            <a routerLink="/">
                <fa-icon [icon]="faHome"></fa-icon>
                Strona główna 
            </a> 
        </li>
        <li> 
            <a routerLink="products">
                <fa-icon [icon]="faProducts"></fa-icon>
                Produkty 
            </a> 
        </li>
        <li> 
            <a routerLink="about-us">
                <fa-icon [icon]="faAboutUs"></fa-icon>
                O nas 
            </a> 
        </li>
        <li> 
            <a routerLink="contact">
                <fa-icon [icon]="faContact"></fa-icon>
                Kontakt 
            </a> 
        </li>
    </ul>
    <ul class="nav-list nav-list-small">
        <li> 
            <a routerLink="/">
                <fa-icon [icon]="faHome"></fa-icon>
            </a> 
        </li>
        <li class="hamburger-btn" (click)="toggleFixedNavbar()"> 
            <fa-icon [icon]="faHamburger"></fa-icon> 
        </li>
    </ul>
</div>

