
div.main {
    display: flex;
    flex-direction: column;
    width: 70rem;
    max-width: 95%;
    align-items: center;
    margin-bottom: 5rem;
}

app-footer {
    width: 100%;
    margin-top: auto;
}

app-header {
    width: 100%;
    margin-bottom: 1rem;
}
