
div.main {
    display: flex;
    flex-direction: column;
    width: 70rem;
    max-width: 95%;
    align-items: center;
}

app-footer {
    margin-top: auto;
}

app-header {
    width: 100%;
}

app-footer {
    width: 100%
}