/* You can add global styles to this file, and also import other style files */

:root {
    --dark: #2a2b2b;
    --white: hsl(0, 0%, 99%);
    --gray: #c9c9c98f;
}

html {
 height: 100%;
}

body {
 margin: 0;
 padding: 0;
 height: 100%;
 font-size: 16px;
 font-family: 'Montserrat', sans-serif;
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    align-items: center;
}